.side-bar 
  .side-bar__user-name
    .top-items
      .top-items--name
        name
      .top-items--icon
        .top-items--icon--edit
          = link_to "#", class: "top-items top-items--edit" do
            = icon('far', 'edit', class: "top-items--icon")
            %span<>
        .top-items--icon--cog
          = link_to "#", class: "top-items top-items--cog" do
            = icon('fas', 'cog', class: "top-items--icon")
            %span<>
  .side-bar__group-list
    .group-index
      .group-index--group-name
        group-name
      .group-index--last-message
        まだメッセージがありません
      .group-index--group-name
        group-name
      .group-index--last-message
        まだメッセージがありません
      .group-index--group-name
        group-name
      .group-index--last-message
        まだメッセージがありません